body {
  margin: 0;
  font-family: 'Solway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A1C29D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title{
  font-family: 'Solway';
  font-size: 47px;
}

.recipe-container {
  border: solid;
}

#recipe-box {
  padding-left: 24%;
  padding-right: 24%;
  padding-bottom: 1.3em;
}

ul {
  list-style-type: none;
}

.search-form{
  padding-bottom: 2em;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.search-bar {
  font-family: 'Solway';
  text-align: center;
  width: 50%;
  height: 3em;
  border: solid;
  font-size: 23px;
  font-weight: bold;
  padding: none;
}

button {
  border: none;
  font-size: 2em;
}

hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
